
.directions {
    padding-top: 113px;
    background-color: #EDEFF6;
    padding-bottom: 138px;
    border-radius: 0 0 40px 40px;
    position: relative;
    z-index: 8;
    margin-top: -40px;
}

.directions__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 161px;
}

.directions__items{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 73px;
}


.directions__text{
    max-width: 344px;
    color:  #444;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 98px;
}

.directions__info{
    position: relative;
    z-index: 4;
    padding-right: 140px;
}


.directions__title{
    margin-bottom: 58px;
}

.directions__all-btn {
    position: relative;
    width: 275px;
    text-align: left;
}

.directions__all-btn::after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   right: 36px;
   background: url('../img/more.svg') 0 0 / cover no-repeat;
   height: 18px;
   width: 14px;
}
.item-country{
    position: relative;
}

.item-country::after{
    content: '';
    position: absolute;
    right: 152px;
    top: 24px;
    width: 70px;
    height: 47px;
}

.item-country__info{
    padding: 24px 0 27px 29px;
}

.item-country__title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}

.item-country__desc{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    opacity: 0.3;
    margin-bottom: 26px;
}

.item-country:first-child:after{
    background: url('../img/country/Thailand-flag.png') 0 0 / cover no-repeat;
}
.item-country:nth-child(2):after{
    background: url('../img/country/France-flag.png') 0 0 / cover no-repeat;
}
.item-country:last-child:after{
    background: url('../img/country/Czech-flag.png') 0 0 / cover no-repeat;
}
.item-country__people{
    position: relative;
    display: block;
    color: rgba(0,0,0, 0.3);
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding-left: 32px;
}
.item-country__people::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url('../img/user.svg') 0 0 / cover no-repeat;
}

@media (min-width: 1281px){
    .directions__item:last-child::before{
        content: '';
        position: absolute;
        background: url('../img/country/desktop-decor.png') 0 0 / cover no-repeat;
        left: 0;
        right: 0;
        bottom: -2px;
        width: 100%;
        z-index: 2;
        height: 81px;
    }

    .directions__wrapper > button {
        display: none;
    }
}
@media (min-width: 1024px){
    .item-country::after{
        transition: all .3s;
    }
    .item-country:hover::after{
        right: 174px;
    }
}
@media (min-width: 620px){
       
    .item-counry__block-image{
        display: none;
    }
    
    .directions__info::after{
        content: '';
        position: absolute;
        right: 0;
        top: -78px;
        background: url('../img/country/county-banner.jpg') 0 0 / cover no-repeat;
        width: 287px;
        height: 575px;
        z-index: -1;
        border-radius: 25px;
    }
    .directions__items::before{
        content: '';
        position: absolute;
        border-radius: 20px;
        background: #E2E5F2;
        width: 140px;
        height: 140px;
        left: -71px;
        top: -71px;
    }
    .directions__item{
        width: 559px;
        height: 140px;
        border-radius: 20px;
    }

    .directions__item:first-child {
        background: url('../img/country/thailand.jpg'), lightgray 50% / cover no-repeat;
    }
    .directions__item:nth-child(2) {
        background: url('../img/country/france.jpg'), lightgray 50% / cover no-repeat;
    }
    .directions__item:last-child {
        background: url('../img/country/czech.jpg'), lightgray 50% / cover no-repeat;
    }
   
}

@media (max-width: 1280px) {
    .directions__info::after{
        top: 0;
    }
    .directions__wrapper{
        flex-direction: column-reverse;
        padding-top: 33px;
    }
    .directions__info .directions__all-btn{
        display: none;
    }
    .directions__all-btn{
        width: 100%;
        display: block;
    }
    .directions__items{
        margin: 0 auto;
        z-index: 5;
    }
}

@media (max-width: 620px){
    .item-counry__block-image {
        position: relative;
        z-index: -1;
    }
    .item-counry__block-image img{
        width: 100%;
    }
    .item-country__info{
        position: relative;
        background-color: #fff;
        padding: 26px 24px 24px;
        margin-top: -15px;
        border-radius: 10px;
    }
    .item-country__title{
        margin-bottom: 2px;
        font-size: 21px;
    }
    .item-country__desc, .item-country__people{
        margin-bottom: 0;
        font-size: 16px;
    }
    .item-country__people{
        position: absolute;
        top: 28px;
        right: 24px;
    }
    .item-country::after{
        top: inherit;
        bottom: 78px;
        right: initial;
        left: 25px;
    }
    .directions{
        padding-bottom: 34px;
        padding-top: 90px;
    }
    .directions__info{ 
        padding-left: 24px;
        padding-right: 0;
    }
    .directions__items{
        margin: 0;
    }
    .directions__wrapper{
        padding-top: 0;
    }
    .directions__title{
        margin-bottom: 19px;
    }
    .directions__text{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .directions__all-btn {
        padding: 22px 23px 22px;
    }
}